<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>
    <link rel="stylesheet" href="/_css/bootstrap.min.css">
    <script src="/js/jquery.js"></script>
    <!-- Custom styles for this template -->
    <link href="/_css/dashboard.css" rel="stylesheet">
    <link href="/_css/googlecode.css" rel="stylesheet">
    <link rel="stylesheet" href="/_css/sylmd.css">
    <link rel="stylesheet" href="/_css/sylArticleList.css">
    <script src="/js/highlight.js"></script>
    <script src="/js/marked.min.js"></script>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">博客管理</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <h4>文章管理</h4>
            <ul class="nav nav-sidebar">
                <li><a href="/admin/article/show">文章展示</a></li>
                <li> <a href="/admin/article/category">文章分类</a></li>
                <li><a href="/admin/article/new">新建文章</a></li>
                <li><a href="/admin/article/wait">草稿箱</a></li>
            </ul>
            <h4>评论管理</h4>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item</a></li>
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
                <li><a href="">More navigation</a></li>
            </ul>
            <h4>留言管理</h4>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <% if("articleList"==type) {%>
                <% include articleList.ejs %>
            <%}else if("newArticle"==type){%>
                <% include newArticle.ejs %>
            <%}else if("showData" ==type){%>
                <% include showData.ejs %>
            <%}%>

        </div>
    </div>
</div>


</body>
</html>
