.article-mid{
    padding-left: 50px;
    .article-detail{
        font-size: 1.4rem;
        position: relative;
        width:100%;
        .article-time{
            position: absolute;
            right:15px;
            top:15px;
            color: #111;
        }
        /*下面是对markdown进行扩展的样式*/
        .detail-content{
            table td,th{
                border:1px solid #ddd;
                font-size: 1.4rem;
            }
            ul {
                display: block;
                padding-left: 25px;
                li{
                   line-height:2.4rem;
                }
            }
            ul>li{
                list-style: disc;
                ul>li{
                    list-style: circle;
                }
            }
            p{
                font-size: 1.6rem;
                code{
                    color:#9d0006;
                }
            }
            pre{
                background-color: #eee !important;
            }
            /*扩展结束*/
        }
        .star{
            border-top:1px solid #222;
            font-size: 1.6rem;
            margin-top: 45px;
            color: #000;
            line-height: 2.2rem;
            a{
                color: #444;
                text-decoration: none;
            }
            a:hover{
                color: #00ee00;
                transition: color .5s;
            }
        }
        .goComment a{
            color: #444;
            font-size:1.4rem;
            text-decoration: none;
        }
        .goComment a:hover{
            color: #00ee00;
            transition: color .5s;
        }
        border-bottom: 2px solid #eee;
    }
    .other-article{
        border-bottom: 2px solid #eee;
        ul li a{
            text-decoration: none;
            line-height: 2.6rem;
            font-size: 1.6rem;
            color: #444;
        }
        ul li a:hover{
            color: #00ffdd;
            transition: color .5s;
        }
        padding:15px 0;
    }
    .article-comment{
        .comment-sum{
            font-size: 1.4rem;
            display: block;
            padding:8px 0;
            color: #000;
            width:100px;
            border-bottom:2px solid #00ffdd;
        }
        .submit-comment a:nth-child(1){
            background: #12b0e6;
            display: inline-block;
            color: #fff;
            width: 160px;
            text-align: center;
            line-height: 48px;
            text-decoration: none;
            font-size: 1.6rem;
            margin-right: 20px;
        }
        .submit-comment a:nth-child(2){
            font-size: 1.6rem;
            color: #0086B3;
        }
        .comment-list .post{
            margin-top: 15px;
            .post-content{
                .avatar{
                    border-left:5px solid transparent;
                    margin-right: 15px;
                    img{
                        height:40px;
                        width:40px;
                    }
                }
                .post-body{
                    .post-body-header{
                        font-size:1.2rem;
                        .post-username{
                            color: #00ffdd;
                        }
                        strong{
                            line-height: 1.2rem;
                            font-size: 2.4rem;
                            font-weight: 900;
                            vertical-align: inherit;
                        }
                    }
                }
            }
            .children>li{
                margin-left: 48px;;
            }
        }
        .report-comment{
            height: 200px;
            padding-bottom: 65px;
            form input[type=text],input[type=email]{
                display: block;
                line-height: 20px;
                width: 160px;;
            }
            form textarea{
                display: block;
                height: 80px;
                width:180px;
            }
            form input[type=submit]{
                border:none;
                display: block;
                background-color: #00ffdd;
                height: 40px;
                width:60px;
                cursor: pointer;
            }
        }
    }
}
