<article class="article-detail">
    <h1 class="article-title">{{article.title}}</h1>
    <span class="article-time">{{article.meta.createAt}}</span>
   <!-- <div  id="marked" class="detail-content"></div>-->
    <marked-render>{{article.content}}</marked-render>
    <section class="star">觉得很赞给博主一个star鼓励一下&nbsp;&nbsp;&nbsp;<a href="https://github.com/helios741/myblog">点击进入github</a></section>
    <section class="goComment"><a href="{{dirname}}#comment">点击参与评论</a> </section>
</article>
<article class="other-article">
    <h3>专题为【XXXX}】的其他文章:</h3>
    <ul>
        <!--<li ng-repeat="item in articleList"><a href="$/detail/{{item.articleid}}">{{item.title}}</a></li>-->
    </ul>
</article>
<article id="comment" class="article-comment">
    <h3 class="comment-title">{{article.title}}文章的评论</h3>
    <p class="comment-sum">15comments</p>
    <section class="submit-comment" id="submitComment">
        <a class="show-all-comment">(查看所有完整评论)</a>
        <form  id="commentForm" name="commentForm" ng-submit="addComment()">
            <label>您的昵称:
                <input type="text"
                       name="nick"
                       placeholder="请输入您的昵称"
                       ng-model="commentFormData.nick"
                       ng-class="{'form-error':commentForm.nick.$invalid &&
                                commentForm.nick.$touched}"
                       ng-minlength="2"
                       required>
                <span ng-class="{'form-err':commentForm.nick.$invalid &&
                                            commentForm.nick.$touched}"
                      ng-show="commentForm.nick.$invalid &&
                                commentForm.nick.$dirty">昵称必须大于两个字符</span>
            </label>

            <br>
            <label>您的邮箱:
                <input type="email"
                       name="email"
                       placeholder="请输入您的邮箱"
                       ng-model="commentFormData.email"
                       ng-class="{'form-error':commentForm.email.$invalid &&
                                commentForm.email.$touched}"
                       required>
                <span ng-class="{'form-err':commentForm.email.$invalid &&
                                            commentForm.email.$touched}"
                      ng-show="commentForm.email.$invalid &&
                                commentForm.email.$dirty">邮箱错误</span>
            </label><br>
            <label>
                评论内容：
                <textarea name="content" ng-model="commentFormData.content"></textarea>
            </label><br>
            <label >
                <button type="submit" class="submit-comment commentSubmitBtn" style="cursor: pointer">点击发表</button>
            </label>

        </form>
    </section>

    <section class="comment-list">
        <ul class="post-list">
            <li class="post"  ng-repeat="comment in comments">
                <div class="post-content clearfix">
                    <div class="avatar pull-left">
                        <img ng-src="" alt="用户">
                    </div>
                    <div class="post-body">
                        <header class="post-body-header">
                            <span class="post-username">{{comment.from.nick}}</span>&nbsp;&nbsp;<strong>.</strong>&nbsp;&nbsp;
                            <span></span>&nbsp;&nbsp;<strong>.</strong>&nbsp;&nbsp;
                            <a href="{{dirname}}#comment"
                               data-cid="{{comment._id}}"
                               data-tid="{{comment.from._id}}"
                               ng-click="replayComment($event)">回复</a>
                        </header>
                        <div class="post-body-inner">
                            <p>{{comment.content}}</p>
                        </div>
                    </div>
                </div>
                <ul class="children">
                    <li class="post" >
                        <div class="post-content clearfix">
                            <div class="avatar pull-left">
                                <img ng-src="trt" alt="用户">
                            </div>
                            <div class="post-body">
                                <header class="post-body-header">
                                    <span class="post-username">trtrt</span>&nbsp;&nbsp;@<strong>.</strong>&nbsp;&nbsp;
                                    <span> {{reply.time}}</span>&nbsp;&nbsp;<strong>.</strong>&nbsp;&nbsp;
                                    <a href="{{dirname}}#comment">回复</a>
                                </header>
                                <div class="post-body-inner">
                                    <p>ctfdr</p>
                                </div>
                            </div>
                        </div>
                    </li>


                </ul>
            </li>
            <li class="post"  >
                <div class="post-content clearfix">
                    <div class="avatar pull-left">
                        <img ng-src="" alt="用户">
                    </div>
                    <div class="post-body">
                        <header class="post-body-header">
                            <span class="post-username"></span>&nbsp;&nbsp;<strong>.</strong>&nbsp;&nbsp;
                            <span></span>&nbsp;&nbsp;<strong>.</strong>&nbsp;&nbsp;
                            <a href="{{dirname}}#comment">回复</a>
                        </header>
                        <div class="post-body-inner">
                            <p>fg</p>
                        </div>
                    </div>
                </div>
                <ul class="children">
                    <li class="post" >
                        <div class="post-content clearfix">
                            <div class="avatar pull-left">
                                <img ng-src="trt" alt="用户">
                            </div>
                            <div class="post-body">
                                <header class="post-body-header">
                                    <span class="post-username">trtrt</span>&nbsp;&nbsp;@<strong>.</strong>&nbsp;&nbsp;
                                    <span> {{reply.time}}</span>&nbsp;&nbsp;<strong>.</strong>&nbsp;&nbsp;
                                    <a href="{{dirname}}#comment">回复</a>
                                </header>
                                <div class="post-body-inner">
                                    <p>ctfdr</p>
                                </div>
                            </div>
                        </div>
                    </li>


                </ul>
            </li>
        </ul>
    </section>
</article>

